body {
    background-color: #ffe6e6; /* Fondo pastel */
    color: #4d0000; /* Texto en tono rojo oscuro */
    margin: 0; /* Elimina márgenes predeterminados */
    padding: 0; /* Elimina relleno predeterminado */
}

/* Estilos para el encabezado */
header {
    font-family: 'Bernier', sans-serif; /* Fuente personalizada para el encabezado */
    font-size: 20px; /* Tamaño de fuente del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    background-color: #b30000; /* Rojo fuerte para el fondo */
    color: #ffe6e6; /* Texto claro */
    padding: 20px 0; /* Espaciado superior e inferior */
}

h1 {
    font-size: 2em; /* Tamaño de fuente más grande para el título */
    margin: 0; /* Elimina el margen predeterminado */
}

/* Lista de videojuegos */
ol {
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el relleno predeterminado */
}

/* Estilos para el footer */
footer {
    font-family: 'Alegreya-Sans', sans-serif; /* Fuente personalizada para el footer */
    background-color: #b30000; /* Rojo fuerte para el fondo */
    color: #ffcccc; /* Texto claro en footer */
    text-align: center; /* Centra el texto */
    padding: 15px 0; /* Espaciado superior e inferior */
    font-size: 0.9em; /* Tamaño de fuente más pequeño */
    margin-top: 100px; /* Margen superior para separar del contenido */
}

footer a {
    color: #ffcccc; /* Color de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

footer a:hover {
    color: #ff9999; /* Color en el hover de los enlaces */
}

/* Estilo para el botón "Cerrar todos" */
.Buttons {
    font-family: 'Bernier', sans-serif; /* Fuente personalizada para el botón */
    background-color: #990000; /* Rojo intenso para el fondo */
    color: #ffe6e6; /* Texto claro */
    padding: 10px 20px; /* Espaciado interior */
    font-size: 1em; /* Tamaño de fuente del botón */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a puntero */
    margin-top: 15px; /* Espaciado superior */
    margin-bottom: 15px; /* Espaciado inferior */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    float: right; /* Alinea el botón a la derecha */
    margin-right: 35px; /* Margen derecho */
}



/* Estilo del hover, es decir, al pasar el cursor por encima el color del botón cambiará */
.closeAllBtn:hover {
    background-color: #b30000; /* Rojo más claro en hover */
}

/* Contenedor del videojuego */
.videojuego-container {
    margin: 20px auto; /* Espaciado vertical y centrado */
    padding: 10px; /* Espaciado interior */
    max-width: 1400px; /* Máximo ancho */
    background-color: #ffcccc; /* Fondo suave para el contenedor */
    border: 1px solid #b30000; /* Borde rojo */
    border-radius: 8px; /* Bordes redondeados */
}

/* Título del videojuego como botón */
.videojuego-title {
    font-family: 'Bernier', sans-serif; /* Fuente personalizada para el título */
    display: inline-block; /* Alinea el botón en línea */
    font-size: 1.3em; /* Tamaño de fuente */
    font-weight: bold; /* Negrita para el título */
    color: #ffe6e6; /* Texto claro */
    background-color: #990000; /* Rojo intenso para el fondo */
    padding: 10px 15px; /* Espaciado interior */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a puntero */
    text-decoration: none; /* Elimina el subrayado */
}

.videojuego-title:hover {
    background-color: #b30000; /* Rojo más claro en hover */
}

/* Contenido del videojuego inicialmente oculto */
.videojuego-content {
    margin-top: 10px; /* Espaciado superior */
    max-height: 0; /* Oculto inicialmente con altura cero */
    opacity: 0; /* Transparencia para ocultar */
    overflow: hidden; /* Evita que el contenido se desborde */
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out; /* Transición suave para despliegue */
}

/* Cuando se despliega el contenido */
.videojuego-content.show {
    max-height: 500px; /* Ajusta según el contenido */
    opacity: 1; /* Hace visible el contenido */
}

/* Contenedor de información e imagen */
.videojuego-info {
    font-family: 'Alegreya-Sans', sans-serif; /* Fuente personalizada para la info */
    display: flex; /* Usa flexbox para alineación */
    align-items: center; /* Alinea los elementos verticalmente */
}

/* Imagen del videojuego con tamaño uniforme */
.videojuego-info img {
    width: 160px; /* Ancho fijo para la imagen */
    height: 200px; /* Altura fija para la imagen */
    margin-right: 27px; /* Espaciado derecho */
    border-radius: 5px; /* Bordes redondeados */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
    border: 2px solid #990000; /* Borde rojo para la imagen */
}

/* Descripción del videojuego */
.videojuego-info p {
    flex: 1; /* Toma el espacio restante */
    margin: 0; /* Elimina el margen */
    line-height: 1.5; /* Altura de línea para mayor legibilidad */
    text-align: justify; /* Justifica el texto */
    color: #4d0000; /* Texto en tono oscuro */
}

/* Estilos para el formulario */
.formulario-videojuego {
    background-color: #fff0f0; /* Fondo suave para el formulario */
    border-radius: 8px; /* Bordes redondeados */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centrado horizontal */
    padding: 20px; /* Espaciado interior */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.formulario-videojuego fieldset {
    border: none; /* Elimina el borde por defecto */
    padding: 0; /* Elimina el relleno */
}

.formulario-videojuego legend {
    font-family: 'Bernier', sans-serif; /* Fuente personalizada */
    font-size: 1.5em; /* Tamaño de fuente */
    color: #990000; /* Color rojo intenso */
    text-align: center; /* Centrado del texto */
    margin-bottom: 20px; /* Espaciado inferior */
}

.formulario-videojuego label {
    font-family: 'Alegreya-Sans', sans-serif; /* Fuente personalizada */
    font-size: 1.1em; /* Tamaño de la fuente */
    color: #4d0000; /* Color rojo oscuro */
    display: block; /* Muestra cada etiqueta en su propia línea */
    margin-bottom: 5px; /* Espaciado inferior */
}

.formulario-videojuego input, .formulario-videojuego textarea {
    width: 97%; /* Hace que los inputs y textarea ocupen el 100% del ancho */
    padding: 10px; /* Espaciado interior */
    font-size: 1em; /* Tamaño de fuente */
    margin-bottom: 15px; /* Espaciado inferior */
    border: 1px solid #b30000; /* Borde rojo */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffe6e6; /* Fondo pastel */
    color: #4d0000; /* Texto en color rojo oscuro */
}

.formulario-videojuego textarea {
    resize: vertical; /* Permite cambiar el tamaño del textarea verticalmente */
    
}

.formulario-videojuego button.submit-btn {
    font-family: 'Bernier', sans-serif; /* Fuente personalizada */
    background-color: #990000; /* Rojo intenso */
    color: #fff; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interior */
    font-size: 1.2em; /* Tamaño de fuente */
    border: none; /* Elimina el borde predeterminado */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
    width: 100%; /* Ancho completo */
}

.formulario-videojuego button.submit-btn:hover {
    background-color: #b30000; /* Rojo más claro al pasar el cursor */
    
}

.formulario-videojuego input[type="file"] {
    font-family: 'Alegreya-Sans', sans-serif; /* Fuente personalizada */
    color: #4d0000; /* Texto rojo oscuro */
    padding: 10px; /* Espaciado interior */
    border: 1px solid #b30000; /* Borde rojo */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffe6e6; /* Fondo pastel */
    margin-bottom: 15px; /* Espaciado inferior */
    
}

.formulario-videojuego input[type="file"]:hover {
    background-color: #ffcccc; /* Fondo más claro al pasar el ratón */
}


/* Fuentes personalizadas */
@font-face {
    font-family: 'Bernier'; /* Nombre que le darás a la fuente */
    src: url('../Fuentes_texto/Bernier/Commercial/OTF/BERNIERRegular-Regular.otf') format('truetype'); /* Ruta al archivo de la fuente */
    font-weight: normal; /* Peso de la fuente */
    font-style: normal; /* Estilo de la fuente */
}

@font-face {
    font-family: 'Alegreya-Sans'; /* Nombre que le darás a la fuente */
    src: url('../Fuentes_texto/alegreya-sans/AlegreyaSans-Medium.ttf') format('truetype'); /* Ruta al archivo de la fuente */
    font-weight: normal; /* Peso de la fuente */
    font-style: normal; /* Estilo de la fuente */
}